.registration-button{
    width: 301px;
    height: 61px;
    background-image: url("../../assets/SVGs/buttons/button-cornercut-orange.svg");
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-image: url("../../assets/SVGs/buttons/button-cornercut-orange-hover.svg");
        cursor: pointer;
    }
}